.about {
  position: relative;
  max-width: calc(1170px + 60px);
  margin: 0 auto;
  display: flex;
  padding-bottom: 114px;
  padding-right: 25px;

  @media (max-width: $tablet-width) {
    padding-bottom: 88px;
  }

  @media (max-width: $mobile-width) {
    padding: 10px 14px 65px;
  }
}

.about__date {
  position: absolute;
  width: 220px;
  flex-shrink: 0;

  @media (max-width: $tablet-width) {
    width: 361px;

    & img {
      width: 240px;
    }
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about__info {
  margin-left: 210px;

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.about h2 {
  font-family: $robotoC;
  font-weight: 400;
  font-size: 36px;
  line-height: 50.63px;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    font-size: 32px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39.38px;
  }
}

.about p {
  font-family: $ptMono;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.5px;
  margin-bottom: 25px;

  @media (max-width: $tablet-width) {
    margin-top: 22px;
    padding-left: 4px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 45px;

    &:last-of-type{
      margin-bottom: 15px;
    }
  }
}

.about a {
  display: inline-block;
  padding: 14px 13px 8px 12px;
  text-transform: uppercase;
  color: $color-sky-blue;
  border: 1px solid $color-sky-blue;
  font-family: $robotoC;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: .05em;
  border-radius: 5px;
  min-width: 180px;
  text-align: center;
  margin-top: 15px;

  @media (max-width: $mobile-width) {
    padding-bottom: 14px;
  }
}

.about a:hover {
  color: $color-default-white;
  background-color: $color-sky-blue;
}

