.advantages {
  max-width: calc(1170px + 40px);
  margin: 0 auto;
  padding: 95px 20px 60px;

  @media (max-width: $tablet-width) {
    padding: 38px 25px 7px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 22px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.advantages ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages h3 {
  color: $color-sky-blue;
  font-family: $robotoC;
  font-weight: 400;
  font-size: 24px;
  line-height: 33.75px;
  margin: 15px 0;

  @media (max-width: $tablet-width) {
    margin: 5px 0 10px;
  }

  @media (max-width: $mobile-width) {
    margin: 8px 0 16px;
    font-size: 20px;
    line-height: 28.13px;
  }
}

.advantages li {
  position: relative;
  background-color: $color-default-white;
  width: calc( 50% - 15px);
  margin-bottom: 30px;
  border: 1px solid $color-ebebe;
  padding: 40px 43px 55px;
  min-height: 299px;

  @media (max-width: $tablet-width) {
    height: auto;
    min-height: 306px;
    padding: 23px 20px 10px 27px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: none;
    margin-bottom: 22px;
    padding-right: 11px;
    padding-left: 27px;
  }
}

.advantages li::after {
  position: absolute;
  content: " ";
  width: 3px;
  height: 100%;
  left: 0;
  top:0;
  background-color: $color-sky-blue;
}

.advantages li:nth-child(odd) {
  margin-right: 30px;

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.advantages p {
  font-family: $ptMono;
  font-weight: normal;
  line-height: 21.5px;
  font-size: 16px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.advantages svg {
  color: $color-sky-blue;
}

.advantages li:hover{
  background-color:  $color-sky-blue;
  transition: all 700ms ease-in;
}

.advantages li:hover  h3,
.advantages li:hover p,
.advantages li:hover svg  {
  color: $color-default-white;
}

.advantages .advantages__short-card {
  @media (max-width: $tablet-width) {
    min-height: 232px;
  }

  @media (max-width: $mobile-width) {
    &:last-child{
      min-height: 244px;
    }
  }
}
