.form {
  background-color: $color-sky-blue;
  color: $color-default-white;
  background-image: url("../img/triangles.png");
  background-position: 175px -60px;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.form__container {
  display: flex;
  justify-content: flex-end;
  max-width: calc(1170px + 45px);
  margin: 0 auto;
  background-image: url("../img/plain.png");
  background-size: 42% 288px;
  background-repeat: no-repeat;
  background-position: 0 161px;

  @media (max-width: $tablet-width) {
    background-image: none;
    justify-content: center;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 10px 42px;
  }
}

.form__questions {
  margin-top: 50px;

  @media (max-width: $tablet-width) {
    margin-top: 55px;
  }

  @media (max-width: $mobile-width) {
    margin: 25px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form__text {
  background-color: $color-sky-blue;
  max-width: 574px;
  min-width: 570px;
  margin-right: 20px;
  padding-top: 90px;
  padding-bottom: 115px;

  @media (max-width: $tablet-width) {
    padding-top: 78px;
    margin-right: 0;
    max-width: 591px;
    padding-bottom: 107px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    min-width: auto;
  }
}

.form h2 {
  font-family: $robotoC;
  font-weight: 400;
  font-size: 36px;
  line-height: 50.63px;
  margin: 0;
  margin-bottom: 10px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 17px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39.38px;
    padding-left: 10px;
    margin-bottom: 12px;
  }
}

.form p {
  font-family: $ptMono;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.5px;
  margin: 0;

  @media (max-width: $mobile-width) {
    padding-left: 10px;
  }
}

.form-inputs-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    max-width: 100%;
    width: 96%;
  }
}

.form textarea,
.form input {
  margin-bottom: 42px;
  color: $color-default-white;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  line-height: 21.5px;
  appearance: none;
}

.form input::placeholder,
.form textarea::placeholder {
  color: $color-default-white;
}

.form input {
  width: 272px;
  padding: 12px 10px 16px 20px;

  @media (max-width: $tablet-width) {
    width: 280px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 15px;
  }
}

.form input:last-of-type {
  @media (max-width: $mobile-width) {
    width: auto;
  }
}

.form textarea {
  width: 100%;
  height: 154px;
  resize: none;
  padding: 11px 10px 10px 19px;

  @media (max-width: $tablet-width) {
    height: 160px;
  }

  @media (max-width: $mobile-width) {
    width: 96%;
    height: 104px;
    margin-bottom: 30px;
  }
}

.form__btn-submit {
  display: inline-block;
  vertical-align: middle;
  font-family: $robotoC;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  background-color: transparent;
  width: 272px;
  color: inherit;
  border-radius: 5px;
  padding-bottom: 14px;
  padding-top: 14px;
  margin-right: 30px;
  min-width: 270px;

  @media (max-width: $tablet-width) {
    min-width: 280px;
  }

  @media (max-width: $mobile-width) {
    min-width: 290px;
    margin: 0 auto 30px;
  }
}

.form__btn-submit:hover {
  background-color: $color-default-white;
  color: $color-sky-blue;
}

.form__checkbox-wrap {
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    max-width: 100%;
  }
}

.form__checkbox {
  padding: 10px 0 0 8px;

  @media (max-width: $mobile-width) {
    padding-left: 3px;
    padding-top: 2px;
  }
}

.form__checkbox label {
  display: block;
  padding-left: 33px;
  position: relative;
  cursor: pointer;
  font-size: 14px;

  @media (max-width: $mobile-width) {
    padding-left: 35px;
  }
}

.form__checkbox label::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  left: 2px;
}

.form__checkbox input:checked ~ label::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 5px;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  left: 6px;
  top: 5px;
}

.form__checkbox input:focus ~ label::before {
  border: 1px solid $color-default-black;
}

.form input:hover,
.form textarea:hover {
  box-shadow: inset 3px 3px 6px rgba(154, 147, 140, 0.3), 1px 1px 5px rgba(255, 255, 255, 0.9);
  opacity: 0.6;
}

.form input:focus,
.form textarea:focus {
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  opacity: 1;
}
