.services {
  background-color:$color-tangaroa;
}

.services__wrapper {
  padding: 93px 10px 47px;
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-left: 26px;
    padding-right: 29px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.services h2 {
  margin:  0 0 47px;
  font-family: $robotoC;
  font-weight: 400;
  font-size: 36px;
  line-height:50.63px;
  color:$color-default-white;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39.38px;
  }
}

.services ul {
  display: flex;
  list-style: none;
  padding: 0;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.services li {
  position: relative;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 46px;
  }
}

.services img {
  width: 100%;
}

.services li::after {
  position: absolute;
  width: 63px;
  height: 63px;
  background-color: $color-sky-blue;
  color: $color-default-white;
  bottom: 0;
  right: 0;
  content: " ";
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.services a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  background-color: rgba(27,45,55,.7);
}

.services a:hover {
  scale: none;
}

.services li:hover  {
  transform: scale(1.05);
  transition: transform 300ms ease-in;
}


.services h3 {
  display: block;
  width: 50%;
  margin: 53px 0 0 44px;
  font-family: $robotoC;
  font-weight: normal;
  font-style: 20px;
  line-height: 30px;
  color: $color-default-white;
}

.services li {
  margin-right: 30px;
}

.services li:last-child {
  margin-right: 0;
}
