.socials {
  display: flex;
  max-width: 130px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
  margin-top: 43px;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    margin: 0;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    max-width: 112px;
    margin: 0 auto;
  }
}

.socials li {
  margin-right: 16px;
  margin-top: 10px;
}

.socials li:nth-child(3n) {
  margin-right: 0;
}

.socials li:hover img {
  opacity: 0.8;
  scale: 1.1;
}
