@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PTMono";
  font-display: swap;
  src:
    url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/pt-mono-v8-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "RobotoCondensed";
  font-display: swap;
  src:
    url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "RobotoCondensed";
  font-display: swap;
  src:
    url("../fonts/roboto-condensed-v19-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v19-latin_cyrillic-700.woff") format("woff");
}
